@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Melete-Bold';
  src: url('res:Fonts/Melete-Bold');
}

@font-face {
  font-family: 'Melete-Medium';
  src: url('res:Fonts/Melete-Medium');
}

@font-face {
  font-family: 'Melete-Regular';
  src: url('res:Fonts/Melete-Regular');
}

@font-face {
  font-family: 'Melete-Light';
  src: url('res:Fonts/Melete-Light');
}

@font-face {
  font-family: 'Melete-UltraLight';
  src: url('res:Fonts/Melete-UltraLight');
}

@font-face {
  font-family: 'SourceHanCodeJP';
  src: url('res:Fonts/SourceHanCodeJP');
}

/* コントローラーアイコン用フォント */
@font-face {
  font-family: 'kenney_input_keyboard_&_mouse';
  src: url('res:Fonts/kenney_input_keyboard_&_mouse');
}

@font-face {
  font-family: 'kenney_input_nintendo_switch_2';
  src: url('res:Fonts/kenney_input_nintendo_switch_2');
}

@font-face {
  font-family: 'kenney_input_playstation_series';
  src: url('res:Fonts/kenney_input_playstation_series');
}

:root {
  font-family: sans-serif;
  font-size: 16px;
}