@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Melete-Bold';
  src: url('res:Fonts/Melete-Bold');
}

@font-face {
  font-family: 'Melete-Medium';
  src: url('res:Fonts/Melete-Medium');
}

@font-face {
  font-family: 'Melete-Regular';
  src: url('res:Fonts/Melete-Regular');
}

@font-face {
  font-family: 'Melete-Light';
  src: url('res:Fonts/Melete-Light');
}

@font-face {
  font-family: 'Melete-UltraLight';
  src: url('res:Fonts/Melete-UltraLight');
}

@font-face {
  font-family: 'SourceHanCodeJP';
  src: url('res:Fonts/SourceHanCodeJP');
}

:root {
  font-family: sans-serif;
  font-size: 16px;
}